:root {
  --coffeeBean: #3e2d28;
  --darkCoffeeBean: #281e1b;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* list background */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

#background-contents {
  width: 800px;
  min-height: 100vh;
  background-color: #3e2d28;
}

/* greeting & username */

#name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#greeting-hello {
  display: block;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 0px 10px;
  font-size: 50px;
}

#greeting-span {
  display: block;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 0px 10px;
  font-size: 50px;
}

#greeting-span:hover {
  background-color: var(--darkCoffeeBean);
  cursor: pointer;
  color: gray;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.247);
  text-decoration: line-through;
}

/* 주요 컨텐츠 (시계, 리스트, 날씨) */

#main-contents_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* clock */

#clock-container {
  width: 621px;
  display: flex;
  justify-content: space-between;
}

#clock {
  margin: 0;
  padding: 0;
}

/* todolist */

#todobox_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todobox {
  border: 5px solid white;
  width: 611px;
  min-height: 75vh;
}

#list-zone {
  margin: 0px;
  list-style: none;
  padding: 0px 35px;
  padding-top: 25px;
}

#list-zone li {
  margin: 15px 0px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

#list-zone li i:hover {
  color: gray;
  cursor: pointer;
}

.fa-regular {
  font-size: 25px;
}

/* todolist - input */

#todo-form {
  margin-top: 15px;
  margin: 0px 35px;
  display: flex;
}

#todo-form input {
  background-color: var(--coffeeBean);
  border: 0px;
  border-bottom: 2px solid white;
  width: 500px;
  height: 35px;
  margin-top: -5px;
  margin-bottom: 30px;
  margin-left: -10px;
  padding: 0px 10px;
  font-size: 20px;
  color: white;
}

#todo-form input:focus {
  background-color: var(--darkCoffeeBean);
  outline: none;
  border-bottom: 0px;
  box-shadow: inset 2px 2px 2px black;
}

#todo-form button {
  position: relative;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--coffeeBean);
  width: 35px;
  height: 35px;
  margin-left: 15px;
  margin-right: -2px;
  border: none;
}

#todo-form button:hover {
  background-color: var(--darkCoffeeBean);
  box-shadow: inset 2px 2px 2px black;
  cursor: pointer;
}

.fa-solid {
  color: white;
}

/* weather */

#weather-container {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/* quotes sidebar */

aside {
  z-index: 11;
  position: fixed;
  right: 5px;
  top: 5px;
}

#quotes-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

#quotes_icon {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
}

@keyframes quotes_anime {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  to {
    max-width: 500px;
  }
}

#quotes-container:hover {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
  animation: quotes_anime 0.8s ease-in-out;
}

.quotes_content {
  display: none;
  visibility: hidden;
  max-width: 500px;
  text-align: center;
  word-break: break-all;
}

#quotes-container:hover .quotes_content {
  display: block;
  visibility: visible;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 500px;
}

#quotes {
  border-top: 1px solid white;
  padding-top: 5px;
  font-size: 20px;
}

#author {
  font-size: 15px;
}

#return_icon {
  margin-top: 5px;
}

#return_icon:hover i {
  color: gray;
  cursor: pointer;
}

/* login - splash */

@keyframes splash-hidden {
  to {
    visibility: hidden;
  }
}

#splash-container {
  position: fixed;
  z-index: 10;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
}

.splash-container_hidden {
  animation: splash-hidden 2s forwards;
  animation-delay: 1s;
}

@keyframes splash-width {
  40% {
    width: 800px;
    opacity: 1;
  }
  60% {
    width: 800px;
    opacity: 1;
  }
  100% {
    width: 800px;
    opacity: 0;
    visibility: hidden;
  }
}

#splash {
  background-color: var(--coffeeBean);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-none {
  animation: splash-width 3s ease-out forwards;
}

@keyframes logo-down {
  60% {
    transform: translateY(20px) scale(1.1);
    opacity: 1;
  }
  70% {
    transform: translateY(20px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(20px) scale(1.1);
    opacity: 0;
  }
}

#splash_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash_logo_anime {
  animation: logo-down 1.8s ease-in-out forwards;
}

#splash_logo img {
  width: 200px;
  height: 200px;
}

#splash_logo span {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

/* login input */

#splash_question {
  margin-top: 20px;
}

@keyframes splash-opacity {
  100% {
    opacity: 0;
  }
}

#splash_question_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.splash_question_form_anime {
  animation: splash-opacity 0.5s ease-in-out forwards;
}

#splash_question_form input {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #281e1b;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-indent: 20px;
}

#splash_question_form input:focus {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.447);
}

#splash_question_form button {
  position: absolute;
  bottom: 0px;
  right: -1px;
  width: 70px;
  height: 51.5px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  border: none;
  border-radius: 0px 29px 29px 0px;
  outline: none;
}

#splash_question_form button:hover {
  cursor: pointer;
}

#splash_question_form button i {
  color: gray;
}

#splash_question_form button:hover i {
  color: white;
}

/* media query ~800px */

@media screen and (max-width: 800px) {
  #background-contents {
    width: 100vw;
    min-height: 100vh;
  }

  #todobox {
    width: 85vw;
  }

  #todo-form input {
    width: 70vw;
  }

  #clock-container {
    width: 85vw;
  }

  #quotes_icon {
    font-size: 2vw;
  }

  #splash_question_form input {
    max-width: 70vw;
    min-width: none;
    text-indent: 10px;
  }

  #greeting-hello {
    display: none;
  }

  #quotes_icon {
    flex-direction: row;
  }

  #quotes_icon i {
    padding-right: 3px;
  }
}

/* media query _mobile */

@media screen and (max-width: 425px) {
  #todo-form input {
    height: 40px;
    width: 80%;
  }

  #todo-form button {
    margin-left: 5vw;
  }

  #splash_logo img {
    width: 150px;
    height: 150px;
  }

  #splash_logo span {
    font-size: 35px;
  }

  #splash_question_form input {
    height: 35px;
    font-size: 2.8vw;
  }

  #splash_question_form button {
    right: -7px;
    bottom: -7px;
    font-size: 15px;
  }
}
